@use '../variables' as *;

.form-section {
  background-color: $accent-color;
  background-image: url('../assets/images/percent.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 120px;
  padding: 87px 0;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
    padding: 0 60px;

    .form-info {
      margin-top: 19px;
      display: flex;
      flex: 1 0 300px;
      flex-direction: column;
      color: $text-color-secondary;
      line-height: 1.3;

      &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.3;
      }

      &__subtitle {
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      flex: 0 1 500px;
      gap: 10px;

      &__btn {
        padding: 23px 52px;
        line-height: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .form-section {
    background-image: none;
    padding: 40px 0;

    &__content {
      gap: 40px;
      padding: 0;

      .form-info {
        text-align: center;

        &__title {
          font-size: 30px;
        }

        &__subtitle {
          margin-top: 10px;
          font-size: 16px;
        }
      }

      .form {
        &__btn {
          padding: 21px 52px;
        }
      }
    }
  }
}
