@use '../variables' as *;

.modal {
  display: none;
  position: fixed;
  height: 100dvh;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &--open {
    display: flex;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    background-color: $bg-color-primary;
    border-radius: 20px;
    padding: 40px;
    max-height: 95%;
    max-width: 95%;
  }

  &__close-btn {
    position: absolute;
    top: 40px;
    right: 40px;

    svg {
      display: none;

      path {
        fill: $controls-bg-secondary;
      }
    }
  }
}

@media (max-width: 768px) {
  .modal {
    &__content {
      height: 100%;
      width: 100%;
      max-height: unset;
      max-width: unset;
      border-radius: 0;
      padding: 30px;
      overflow-y: auto;
    }

    &__close-btn {
      position: fixed;
      top: 10px;
      right: 10px;

      span {
        display: none;
      }

      svg {
        display: block;
      }
    }
  }
}
